/*Nav*/











/*Accueil*/
@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}

body {
  text-align: center;

}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url("Img_accueil.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: opacity(.5);
}


section {
  display: contents;
}

h1 {
  border: 1px solid blue;
  font-family: 'Eurostile', sans-serif;
  font-weight: bold;
  height: auto;
  width: auto;
  margin-top: 50px;
  margin-bottom: 15px;
}

button {
 display: inline-block;
 box-sizing: border-box;
 font-family:'Roboto',sans-serif;
 font-size: 60px;
 color: #FFD700;
 background-color: transparent;
 text-align:center;
 height: 75px;
 width: 75px;
 margin-bottom: 10px;
}

button:hover{
  color: #FFD700;
  background-color: transparent;
}

h2 {
  border: 1px solid blue;
  color: 	#FFD700;
  font-size: 35px;
  font-family: 'Eurostile', sans-serif;
  height: auto;
  width: auto;
  margin-top: 10px;
  margin-bottom: 50px;
}

li {
  border: 1px solid blue;
  color: 	black;
  list-style: none;
  font-size: 25px;
  font-family: Arial, sans-serif;
  height: 35px;
  width: 90%;
  margin-top: 35px;
}


/*Qui sommes nous*/



/*Nos coiffures*/
body {
    background-color: black;
}
.card {
    height: 300px;
    width: 250px;
    background-color:white;
    margin: 15px;
    border-radius: 15px;
}

.card img {
    border-top-left-radius: 15px;
    border-top-left-radius: 15px;
}

.flex-around {
display: flex;
justify-content: space-around;
}

.container {
flex-wrap: wrap;
}

.display-block {
    display: block;
}

.new-card {
    background-color: rgb(255, 166, 0);
}
/*Tarif/contact*/


/*Prendre rendez vous*/
<<<<<<< HEAD
body{
    background-image: url('src/background/BG_Accueil_Le_Petit_Vintage.jpg');
    background-size: cover;
    color: white;

}

.window{
    height: 800px;
    width: 250px;
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
}
.inactive{
    display: none;
}
#slide-container{
    height: 800px;
    width: 8000px;
    position: absolute;
    left: 0px;
    transition: left 0.4s;
    display: flex;

}
.slide{
    height: 800px;
    width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;

}
.container-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}


.timeline{
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 20px;
    width: 100%;
}
.timeline-ok{
    bottom: 50%;
    transition: bottom 0.4s;
}
.dot{
    width: 2em;
    height: 2em;
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
}
.dot-incomplete{
    background-color: #ef6334;
    border: none;
}
.dot-ok{
    background-color: #F1B833;
    border: 2px solid #F1B833;
}
.dot-current{
    border: 5px solid #F1B833;
}


.card-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F1B833;
    border-radius: 20px;
    width: 80%;

}
.alert{
    color: #ef6334;
}
#submit0{
    height: 3em;
}
#hair-cut-selector{
    height: 50%;
}
#hair-cut-choice{
    text-align: center;
    color: white;
    background-color: #F1B833;
    font-size: 1.5em;
}

#hairdressers .card {
    width: 60%;
    text-align: center;
}
.choose-me {
    margin-bottom: 17px;
}


=======
>>>>>>> julien/accueil
