/*Nav*/



/*Footer*/


/*Accueil*/
@media (max-width: 640px) {
	* {
		box-sizing: border-box;
	}

body {
  text-align: center;

}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url("Img_accueil.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: opacity(.5);
}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

section {
  display: contents;
}

h1 {
  border: 1px solid blue;
  font-family: 'Eurostile', sans-serif;
  font-weight: bold;
  height: auto;
  width: auto;
  margin-top: 50px;
  margin-bottom: 15px;
}

button {
 display: inline-block;
 box-sizing: border-box;
 font-family:'Roboto',sans-serif;
 font-size: 60px;
 color: #FFD700;
 background-color: transparent;
 text-align:center;
 height: 75px;
 width: 75px;
 margin-bottom: 10px;
}

button:hover{
  color: #FFD700;
  background-color: transparent;
}

h2 {
  border: 1px solid blue;
  color: 	#FFD700;
  font-size: 35px;
  font-family: 'Eurostile', sans-serif;
  height: auto;
  width: auto;
  margin-top: 10px;
  margin-bottom: 50px;
}

li {
  border: 1px solid blue;
  color: 	black;
  list-style: none;
  font-size: 25px;
  font-family: Arial, sans-serif;
  height: 35px;
  width: 90%;
  margin-top: 35px;
}


/*Qui sommes nous*/



/*Nos coiffures*/


/*Tarif/contact*/


/*Prendre rendez vous*/
