@font-face{
    font-family: "eurostile";
    src: url("/src/Eurostile.ttf") format('truetype');
}

h1,h2,h3,h4,h5{
    font-family: eurostile;
}
a{

    text-decoration:none;
    color: #f0f2f4;
}

h1 {
    margin-top: 150px;
    font-family: Eurostile;
    font-size: 50px;
    color: white;
    text-align: center;
}

h3 {
    color: #E3A127;
    text-align: center;
    margin-top: 60px;
}

.phone-number{
    display: flex;
    justify-content: center;
    color: black;
}

p {
    text-align: center;
    color: black;
}


.map {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    .require {
        height: 80vh;
        background-image: url("../background/BG_Coiffure_Le_Petit_Vintage_PC.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: local;
        background-size: cover;
        margin-bottom: 70px;

    }

    body{
        width: 100%;
        margin:0;
        paddin:0;


    }

}

/* MOBILE*/
@media screen and (max-width: 800px) {

    .require {
        height: 100vh;
        background-image: url("../background/BG_Coiffure_Le_Petit_Vintage.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: local;
        background-size: cover;

    }
    /*BODY*/
    body{
        width: 100%;
        margin:0;
        paddin:0;

    }
}
