body{
    background-image: url('../background/BG_Accueil_Le_Petit_Vintage.jpg');
    background-size: cover;
    color: white;

}

.window{
    height: 800px;
    width: 250px;
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
}
.inactive{
    display: none;
}
#slide-container{
    height: 800px;
    width: 8000px;
    position: absolute;
    left: 0px;
    transition: left 0.4s;
    display: flex;

}
.slide{
    height: 800px;
    width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;

}
.container-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}


.timeline{
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 20px;
    width: 100%;
}
.timeline-ok{
    bottom: 50%;
    transition: bottom 0.4s;
}
.dot{
    width: 2em;
    height: 2em;
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
}
.dot-incomplete{
    background-color: #ef6334;
    border: none;
}
.dot-ok{
    background-color: #F1B833;
    border: 2px solid #F1B833;
}
.dot-current{
    border: 5px solid #F1B833;
}


.card-container{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F1B833;
    border-radius: 20px;
    width: 80%;
    height: 30%;
    position: relative;

}
.alert{
    color: #ef6334;
}
#submit0{
    height: 3em;
}
#hair-cut-selector{
    height: 50%;
}
#hair-cut-choice{
    text-align: center;
    color: white;
    background-color: #F1B833;
    font-size: 1.5em;
}
.hair-cut-img{
    width: 60%;
    position: absolute;
    top: 25%;
    right: 20%;
}

.img-active{
    opacity: 0;
    transition: opacity 0.4s;

}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}

#hairdressers .card {
    width: 60%;
    text-align: center;
}
.choose-me {
    margin-bottom: 17px;
    margin-top: 6px;
}

