@font-face{
    font-family: "eurostile";
    src: url("/src/Eurostile.ttf") format('truetype');
}

h1,h2,h3,h4,h5{
    font-family: eurostile;
}
body{
    background-image: url('../background/BG_Accueil_Le_Petit_Vintage.jpg');
    background-size: cover;
    color: white;
    font-family: Arial;
}
.window{
    height: 800px;
    width: 250px;
    position: relative;
    margin: 0 auto;
    overflow-x: hidden;
}
.inactive{
    display: none;
}
.slide-container{
    height: 800px;
    width: 8000px;
    position: absolute;
    left: 0px;
    transition: left 0.4s;
    display: flex;
}
.title2{
    text-align: center;
}
.slide{
    height: 800px;
    width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.container-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    max-width: 300px;
    align-self: center;
}
.timeline{
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 10%;
    width: 100%;
}
.timeline-ok{
    bottom: 40%;
    justify-content: space-between;
    transition: bottom 0.4s;
}
.dot{
    width: 2em;
    height: 2em;
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
}
.dot-incomplete{
    background-color: #ef6334;
    border: none;
}
.dot-ok{
    background-color: #F1B833;
    border: 2px solid #F1B833;
}
.dot-current{
    border: 5px solid #F1B833;
}
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 55%;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F1B833;
    border-radius: 20px;
    width: 80%;
    height: 30%;
    position: relative;
    max-width: 30%;
    min-width: 173px;
}
.alert{
    color: #ef6334;
}
.alert-inactive{
    display: none;
}
.submit0{
    height: 3em;
}
.hair-cut-selector{
    height: 50%;
}
.hair-cut-choice{
    text-align: center;
    color: white;
    background-color: #F1B833;
    font-size: 1.5em;
}
.hair-cut-img{
    position: absolute;
    top: 25%;
    right: 23%;
    max-height: 50%;
}

.img-active{
    opacity: 0;
    transition: opacity 0.4s;

}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible;
}

.hair-dresser-card{
    width: 60%;
    text-align: center;
}
.choose-me {
    margin-bottom: 17px;
    margin-top: 6px;
}
.link{
    color: white;
}
.selected{
    background-color: #ecb354;
    transform: scale(1.5);
    transition: transform 0.5s;

}
.submitHour{
    border-radius: 5px;

}
.agenda{
    margin: 0 auto;
    align-items: center;
}
.error-display{
    align-self: start;
    margin-left: 10px;
}
.result{
    justify-content: space-around;
    align-items: center;
    padding: 28px;
    align-self: flex-end;
    margin: 0 auto;
    max-height: 200px;

}
@media screen and (min-width: 800px){
    body{
        background-image: url('../background/BG_Accueil_Le_Petit_Vintage_PC.jpg');
    }
    
}
@media screen and (min-width: 1200px){
    .card-container{
        flex-direction: row;
    }
    .card{
        height: 80%;
        align-self: start;

    }
    .hair-cut-img {
        position: absolute;
        top: 18%;
        right: 20%;
        max-height: 60%;
    }
    .agenda{
        height: 50vh;
        align-self: start;
    }
    .timeline-ok{
        bottom: 50%;
        justify-content: space-between;
        transition: bottom 0.7s;


    }

}
