@font-face{
    font-family: "eurostile";
    src: url("/src/Eurostile.ttf") format('truetype');
}

h1,h2,h3,h4,h5{
    font-family: eurostile;
}
body{
    margin:0;
    padding: 0;
    font-family: Eurostile;
}

.footer-content {

    color: white;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgba(4,4,5,0.8);

}

.contact-footer{

    margin-left: 10px;
    padding: 20px;
    background-color: rgba(226,223,234,0.5) ;
}
.footer-bar{
    padding-top: 20px;
    padding-left: 20px;
    padding-left: 20px;
    height: 100%;

}

.links{
    text-decoration: none;
    font-weight: bold;
    color: white;
}

@media screen and (max-width: 800px){

    .footer-content{
        font-size: 15px;
    }

}

