/*Nav*/

@font-face{
    font-family: "eurostile";
    src: url("/src/Eurostile.ttf") format('truetype');
}

h1,h2,h3,h4,h5{
    font-family: eurostile;
}










/*Accueil*/



/*Qui sommes nous*/



/*Nos coiffures*/
body {
    background-color: black;
}
.card {
    height: 300px;
    width: 250px;
    background-color:white;
    margin: 15px;
    border-radius: 15px;
}

.card img {
    border-top-left-radius: 15px;
    border-top-left-radius: 15px;
}

.flex-around {
display: flex;
justify-content: space-around;
}

.container {
flex-wrap: wrap;
}

.display-block {
    display: block;
}

.new-card {
    background-color: rgb(255, 166, 0);
}
/*Tarif/contact*/


/*Prendre rendez vous*/




