@font-face{
    font-family: "eurostile";
    src: url("/src/Eurostile.ttf") format('truetype');
}

h1,h2,h3,h4,h5{
    font-family: eurostile;
}

.header{
    padding-top: 20px;
    /*background-color: #262626;*/
}

.header-content{
    display: flex;
    width: 100%;
    justify-content: center;
}

.Logo{
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100% ;
    padding:5px;
}



/*SCREEN*/

@media screen and (min-width: 800px) {

    body{
        width: 100%;
        margin:0;
        padding:0;

    }

    .content {
        width: 100%;
        margin-bottom: 20px;
        flex: content;

    }
    .navStyle {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
    }

    a{
        text-decoration:none;
        color: #F0F2F4;
    }

    .button{
        font-size: 20px;
        font-family: Eurostile;
        margin: 5px;
    }

    .spacer {
      display: none;
    }
}

/* MOBILE*/
@media screen and (max-width: 800px) {


    /*Burger*/
    .burger-menu{
        width: 70px;
        height: 40px;
        position: absolute;
        top: 130px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
        border-radius: 20px;
        cursor: pointer;
    }
    .burger-menu span {
        display: block;
        width: 100%;
        height: 5px;
        background-color: #ffd64f;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }
    .burger-menu span::before, .burger-menu span::after{
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: #ffd64f;
    }
    .burger-menu span::before{
        transform: translateY(-20px);
    }

    .burger-menu span::after{
        transform: translateY(20px);
    }



    /*BODY*/
    body{
        width: 100%;
        margin:0;
        padding:0;

    }

    .spacer {
      display: block;
      height: 110px;
      margin: auto;
    }

    #content {
        display: none;

    }

    #content.active{
        z-index: 0;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
        flex: content;
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(4,4,5,0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        transform: scale(1);
    }

    .navStyle {
        list-style-type: none;
        justify-content: space-around;
        position: relative;
        text-align: center;
        display: block;
        font-size: 30px;
        font-weight: 200;
    }

    a{

        text-decoration:none;
        color: #f0f2f4;
    }

    .button{

        font-family: Eurostile;
        margin: 30px;

    }

}

