@font-face{
  font-family: "eurostile";
  src: url("/src/Eurostile.ttf") format('truetype');
}

h1,h2,h3,h4,h5{
  font-family: eurostile;
}
.staff-container{
  display: flex;
  justify-content: space-around;
}


.trame{

  position: relative;
  top: 60vh;
  width: 100%;
  margin-bottom: 50px;
}

/* MOBILE*/
@media screen and (max-width: 800px) {
  #staff{
    height: 300px;
    display: flex;

  }
  .tramepc{
    display: none;
  }

  body {
      width: 100%;
      margin: 0;
      padding: 0;

  }

  .require {
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/Magalien1/Le-Petit-Vintage/dev/src/background/BG_Accueil_Le_Petit_Vintage.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
  }

  .card-who {
    width: 80%;
  }

    .card-vintage {
      width: 90%;
  }

    .card-classique {
      width: 90%;
    }

    .card-rebel {
      width: 90%;
    }
}

  /* PC */
  @media screen and (min-width: 800px) {
    #staff{
      margin-top: 70px;
      height: 400px;
      display: flex;

    }

    .trame{
      display: none;
    }
    body {
      width: 100%;
      margin: 0;
      padding: 0;

    }

    .card-who {
      width: 50%;
    }

    .card-vintage {
      width: 50%;
    }

    .card-classique {
      width: 50%;
    }

    .card-rebel {
      width: 50%;
    }
}

  .require {
    height: 100vh;
    background-image: url("background/BG_Accueil_Le_Petit_Vintage_PC.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: local;
    background-size: cover;
  }

  .menu {
    text-align: center;
    color: #E3A127;
    text-decoration: double underline overline #E3A127;
    font-family: "Eurostile", sans-serif;
  }

  .tramepc {
    position: absolute;
    text-align: center;
    margin-top: 60vh;
    padding-left: 0px;
    padding-right: 0px;

  }

  .who {
    margin-top: 200px;
    margin-bottom: 150px;
  }

  .card-who {
    align-items: center;
    text-align: center;
    border: 2px solid ;
    background-color: #E3A127;
    border-radius: 30px;
    border-color: #E3A127;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 15px #555;
  }

  .card-who-header {
    color: white;
  }

  .card-who-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 80%;
    height: auto;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 10% / 50%;
  }

  .card-who-body p {
    margin: 10px 0px;
  }

  .card-who-text {
    font-family:  "Eurostile", sans-serif;
  }

  .card-who-button {
    border: none;
    color: white;
    border-radius: 10px;
    height: auto;
    background-color: #E3A127;
    width: auto;
  }

  button:hover {
    text-decoration: underline;
  }

  .which {
    margin-top: 0px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .card-header {
    color: white;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .card-body {
    color: white;
    height: 100px;
    width: 70%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .card-text {
    font-family: Arial sans-serif;
  }

  .card-button {
    border: none;
    background-color: transparent;
    height: 100%;
  }

  article {
    text-align: center;
    height: auto;
    width: 28%;
    color: white;
  }

  .color-choise {
    background-color: #E3A127;
  }

  .color-button {
    background-color: grey;
  }

  .card-vintage {
    background-image: url("Cards/pretty-woman-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 115%;
    border-radius: 30px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 15px #555;
  }

  .vintage-choice {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 60px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .card-classique {
    background-image: url("Cards/pretty-woman-2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 115%;
    border-radius: 30px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 1px 1px 15px #555;
  }

  .classique-choice {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 60px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }


  .card-rebel {
    background-image: url("Cards/pretty-woman-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 115%;
    border-radius: 30px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 15px #555;
  }

  .rebel-choice {
    display: flex;
    justify-content: space-around;
    width: 60%;
    height: 60px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
